.container{
    display: grid;
    height:500px;
    width: 1000px;
    background-color: red;
    border: 2px solid black;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 200px 200px 200px 200px;
    /*grid-template-columns: repeat(4,1px);
    grid-template-rows: repeat(3,1fr);*/
   /* grid-template-areas:"header header header header" "main main .sidebar" "footer footer footer footer";*/
    /*column-gap: 15px;*/
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    

}
.item{
    width: 100px;
    height: 100px;
    background-color:aqua;
    border: 2px solid black;
    text-align: center;
    align-content: center;
    color: white;
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;

}
.item4{
    grid-area:footer ; }*/

