.box{
    height: 200px;
    width: 200px;
    text-align: center;
    align-content: center;
    display: grid;
    display: inline-block;
    
}

#box2{
    color: black;
    background-color: red;
    border: 1px solid black;
    display: grid;

}

#box3{
    color: yellow;
    background-color: red;
    border: 1px solid pink;
    display: inline-block;
    display: grid;
}
#box4{
    color: blue;
    background-color:brown;
    border: 1px dash green;
    
}